/* =============================================================================
   Deafult Base Styling
   ============================================================================= */
@layer base {
  ::before,
  ::after {
    box-sizing: border-box;
  }

  /* Clear Defaults */
  a {
    text-decoration: none;
  }

  a:where(:not[class]) {
    text-decoration: underline;
  }

  a:where(:not(.wp-element-button, .gform_wrapper a, .prose a)) {
    text-decoration: unset !important;
  }

  svg {
    max-width: 100%;
  }

  img::selection {
    background: transparent;
  }

  :is(h1, h2, h3, h4, h5, h6, p):not(
      .u-text-trim-off,
      :has([class*='u-text-style-'])
    )::before,
  [class*='u-text-style-']:not(
      .u-text-trim-off,
      :has(h1, h2, h3, h4, h5, h6, p)
    )::before {
    content: '';
    display: table;
    margin-bottom: calc(-0.5lh + var(--text-trim-top));
  }
  :is(h1, h2, h3, h4, h5, h6, p):not(
      .u-text-trim-off,
      :has([class*='u-text-style-'])
    )::after,
  [class*='u-text-style-']:not(
      .u-text-trim-off,
      :has(h1, h2, h3, h4, h5, h6, p)
    )::after {
    content: '';
    display: table;
    margin-bottom: calc(-0.5lh + var(--text-trim-bottom));
  }
}
