@layer base {
  /* Font Family */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueRoman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueHeavy.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  /* Italic variants */
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueMediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueHeavyItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HelveticaNeue';
    src: url('@fonts/HelveticaNeueBlackItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
}
