@theme {
  /* Spacing Main*/
  --spacing-u-1: clamp(0.375rem, calc(0.375rem + 0.125vw), 0.5rem);
  --spacing-u-2: clamp(0.75rem, calc(0.75rem + 0.25vw), 1rem);
  --spacing-u-3: clamp(0.875rem, calc(0.875rem + 0.125vw), 1rem);
  --spacing-u-4: clamp(1.25rem, calc(1.25rem + 0.25vw), 1.5rem);
  --spacing-u-5: clamp(1.75rem, calc(1.75rem + 0.25vw), 2rem);
  --spacing-u-6: clamp(2rem, calc(2rem + 0.5vw), 2.5rem);
  --spacing-u-7: clamp(2.25rem, calc(2.25rem + 0.75vw), 3rem);
  --spacing-u-8: clamp(2.5rem, calc(2.5rem + 1.5vw), 4rem);
  --spacing-u-9: clamp(3rem, calc(3rem + 1.5vw), 4.5rem);
  --spacing-u-10: clamp(3.5rem, calc(3.5rem + 2vw), 5.5rem);
  --spacing-u-11: clamp(4rem, calc(4rem + 2.5vw), 6.5rem);
  --spacing-u-12: clamp(4.5rem, calc(4.5rem + 3vw), 7.5rem);

  /* Section Spacing */
  --spacing-section-small: clamp(3rem, calc(3rem + 2vw), 5rem);
  --spacing-section-main: clamp(4rem, calc(4rem + 3vw), 7rem);
  --spacing-section-large: clamp(5.5rem, calc(5.5rem + 4.5vw), 10rem);
  --spacing-section-page-top: clamp(10rem, calc(10rem + 4vw), 14rem);
}
