@layer components {
  /* Base Button Styles */
  .button {
    /* @apply inline-flex items-center justify-center; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem 0.55rem 1.25rem;
    gap: var(--spacing-u-2);
    font-size: var(--text-main);
    font-weight: 700;
    color: var(--color-text-heading);
    line-height: 1;
    border: var(--border-width-main) solid transparent;
    border-radius: var(--radius-small);
    transition: all 200ms ease-in-out;
    outline: 2px solid var(--tw-ring-color);
    outline-offset: 2px;
    cursor: pointer;
    text-decoration: none !important;
    white-space: nowrap;
  }

  /* Override WordPress default link styling for buttons */
  a.button:where(:not(.wp-element-button)) {
    text-decoration: none !important;
  }

  /* Primary Button */
  .button--primary {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
    border-color: var(--button-primary-border);

    &:hover,
    &:focus {
      background-color: var(--button-primary-bg-hover);
      color: var(--button-primary-text-hover);
      border-color: var(--button-primary-border-hover);
    }

    &:focus {
      --tw-ring-color: var(--button-primary-border);
    }
  }

  /* Secondary Button */
  .button--secondary {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    border-color: var(--button-secondary-border);

    &:hover,
    &:focus {
      background-color: var(--button-secondary-bg-hover);
      color: var(--button-secondary-text-hover);
      border-color: var(--button-secondary-border-hover);
    }

    &:focus {
      --tw-ring-color: var(--button-secondary-border);
    }
  }

  /* Secondary Button */
  .button--icon-only {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text);
    border-color: var(--button-secondary-border);
    @apply p-u-1;

    &:hover,
    &:focus {
      background-color: var(--button-secondary-bg-hover);
      color: var(--button-secondary-text-hover);
      border-color: var(--button-secondary-border-hover);
    }

    &:focus {
      --tw-ring-color: var(--button-secondary-border);
    }
  }

  /* Button Sizes */
  .button--small {
    padding: 0.65rem 0.875rem 0.45rem 0.875rem;
  }

  .button--large {
    padding: 0.75rem 1.25rem 0.55rem 1.25rem;
    font-size: var(--text-large);
  }

  .button--square {
    @apply px-u-3 py-u-3;
  }

  /* Button States */
  .button:disabled,
  .button--disabled {
    @apply opacity-50 cursor-not-allowed;

    &:hover,
    &:focus {
      /* Prevent hover states on disabled buttons */
      background-color: inherit;
      color: inherit;
      border-color: inherit;
    }
  }
}
