@import 'tailwindcss' theme(static);
@source "../views/";
@source "../../app/";

@layer base {
  :root {
    /* Site variables */
    --site--viewport-max: 90rem;
    --site--viewport-min: 20rem;
    --site--margin: clamp(1rem, calc(1rem + 2vw), 3rem);
    --site--gutter: 1rem;
    --site--column-count: 12;
    --site--column-width: calc(
      (100% - var(--site--gutter) * (var(--site--column-count) - 1)) /
        var(--site--column-count)
    );
  }
}

/* Import your fonts */
@import './theme/fonts.css';

/* Import your default */
@import './theme/default.css';

/* Import your theme */
@import './theme/theme.css';

/* Import your typography */
@import './theme/typography.css';

/* Import Spacing */
@import './theme/spacing.css';

/* Import your utilities */
@import './theme/utilities.css';

/* Import component styles */
@import './components/navigation.css';
@import './components/swiper.css';
@import './components/logo-slider.css';
@import './components/button.css';
@import './components/article-simple.css';
@import './components/case-simple.css';
