@layer utilities {
  .u-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
    color: var(--theme-text);
    background-color: var(--theme-bg);
  }

  .u-container {
    z-index: 1;
    max-width: var(--max-width--main);
    width: calc(100% - var(--site--margin) * 2);
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    container: threshold-large / inline-size;
  }

  .u-margin-top-text {
    margin-top: var(--text-style--margin-top);
  }

  .u-margin-bottom-text {
    margin-bottom: var(--text-style--margin-bottom);
  }

  .u-background-1 {
    background-color: var(--theme-bg);
  }

  .u-background-2 {
    background-color: var(--theme-bg-2);
  }

  /* Margin Trim */
  :is(.u-margin-trim, .u-rich-text, .prose)
    > :not(
      :not(.u-cover-absolute, .u-ignore-trim)
        ~ :not(.u-cover-absolute, .u-ignore-trim)
    ),
  :is(.u-margin-trim, .u-rich-text, .prose)
    > :not(
      :not(.u-cover-absolute, .u-ignore-trim)
        ~ :not(.u-cover-absolute, .u-ignore-trim)
    ).u-display-contents
    > :first-child {
    margin-top: 0;
  }

  :is(.u-margin-trim, .u-rich-text, .prose)
    > :not(:has(~ :not(.u-cover-absolute, .u-ignore-trim))),
  :is(.u-margin-trim, .u-rich-text, .prose)
    > :not(:has(~ :not(.u-cover-absolute, .u-ignore-trim))).u-display-contents
    > :last-child {
    margin-bottom: 0;
  }

  .u-child-contain > * {
    width: 100%;
    max-width: inherit !important;
    margin-inline: 0 !important;
    margin-top: 0 !important;
  }

  .u-max-width-12ch {
    max-width: 12ch;
  }
  .u-max-width-15ch {
    max-width: 15ch;
  }
  .u-max-width-20ch {
    max-width: 20ch;
  }
  .u-max-width-30ch {
    max-width: 30ch;
  }
  .u-max-width-40ch {
    max-width: 40ch;
  }
  .u-max-width-50ch {
    max-width: 50ch;
  }
  .u-max-width-60ch {
    max-width: 60ch;
  }
  .u-max-width-70ch {
    max-width: 70ch;
  }
  .u-max-width-80ch {
    max-width: 80ch;
  }

  .u-text-accent {
    color: var(--theme-accent);
  }
}
